/* footer */

footer {
    height: 400px;
    background-color: #a0d2dd15;
}

footer div:nth-child(1) {
    grid-template-columns: repeat(4, 1fr);
}

footer div:nth-child(1) h1 {
    margin: 50px 0;
}

footer ul li {
    padding: 5px 0;
}

footer main ul li {
    padding: 0;
    cursor: pointer;
}

footer main {
    border-top: 1px solid var(--border-color);
    height: 80px;
    margin-top: 20px;
}

footer ul .social-media-logo span svg {
    height: 20px;
    width: 20px;
}

footer ul .social-media-logo span  {
    padding-left: 10px;
}


@media(max-width: 750px) {

    footer {
        height: 70vh;
        background-color: #a0d2dd15;
    }

    footer div:nth-child(1) h1 {
        margin: 20px 0;
        font-size: 25px;
    }

    footer div:nth-child(1) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    footer div:nth-child(1) div h3 {
        font-size: 16px;
    }

    footer ul li {
        padding: 5px 0;
        font-size: 15px;
    }

    footer main label, footer main ul li{
        font-size: 12px;
    }

    footer main ul li span, footer main label span:nth-child(2) {
        display: none;
    }

    footer main ul .pl {
        /* padding-left: 0; */
    }
}